:root {
	outline: 0
}

.row {
		margin: 0;
}

.contain {
	width: 100%;
	outline: none
}

.contain-padding {
	padding: 0;
}

.videoContainer {
	background: black;
	/* height: 230px; */
	width: 100%;
}
.progressContainer{
	background: #00000060;
	/* height: 230px; */
	width: 100%;
}
.controls-tab {
	width: 100%;
	margin-top: 0;
	top:0;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 8px;
	position: absolute;
	background: rgba(0, 0, 0, 0.466)
}

.control-padding {
	padding: 0 10px;
	
}

.controls_mobile_desk{
	position: absolute;
	bottom: 0;
	width: 100%
}

.controls-panel {
	width: 100%;
	margin-top: 10px;

}

.control-btn {
	height: 20px;
	width: 20px;
	margin: 0 10px;
	object-fit: contain;
}

.controls-timer {
	margin: 0 10px;
	color: white;
	font-weight: 200;
}

.enlarge-btn {
	text-align: right;
}

#myProgress {
	width: 100%;
	background-color: #ddd;
	border-radius: 5px;
	cursor: pointer;
}

.align-btn {
	padding: 0 5px;
	display: table-cell;
	vertical-align: middle
}

#myProgressBar {
	width: auto;
	height: 3.5px;
	background-color: #4caf50;
	border-radius: 5px;
}

#myBar {
	width: auto;
	background-color: #686868;
	border-radius: 5px;
}

#myDot {
	float: right;
	width: 10px;
	height: 10px;
	margin-top: -2px;
	margin-right: -2px;
	background-color: #4caf50;
	border-radius: 100%;
}




@media only screen and (min-width: 600px) {

	.contain {
		width: 100%;
		margin-bottom: 10%
	}
	.contain-padding {
		padding: 0;
	}
	.videoContainer {
		background: black;
		height: 500px;
		width: 100%;
	}
	.progressContainer{
		background: #00000060;
		height: 100%;
		width: 100%;
	}
	.controls_mobile_desk{
		position: relative;
		bottom:auto
	}
	.controls-tab {
		width: 100%;
		margin-top: -53px;
		z-index: 20;
		padding-top: 10px;
		padding-bottom: 8px;
		top: auto;
		position: absolute;
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(3,3,3,0.7343312324929971) 39%, rgba(4,4,4,0.3785889355742297) 66%, rgba(4,4,4,0.12368697478991597) 89%, rgba(0,212,255,0) 100%);			
	}
	.progressContainer{
		height: 500px
	}
	.videoAdjust {
		background: black;
		height: 500px;
		width: 100%;
	}

	.fullscreenVideo {
		height:100vh
	}

}

/* progress bar */
.pure-material-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: white;
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

.pure-material-progress-circular::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
.pure-material-progress-circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .pure-material-progress-circular:indeterminate {
    animation: none;
}

.pure-material-progress-circular:indeterminate::before,
.pure-material-progress-circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes pure-material-progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}
