.row {
			margin: 0;
		}

		.contain {
			width: 100%;
		}

		.contain-padding {
			padding: 0 10%;
		}

		.videoContainer {
			background: black;
			height: 230px;
			width: 100%;
		}

		.controls-tab {
			width: 80%;
    		margin-top: -56px;
    		z-index: 20;
    		padding-top: 10px;
    		padding-bottom: 8px;
			position: absolute;
			background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(3,3,3,0.7343312324929971) 39%, rgba(4,4,4,0.3785889355742297) 66%, rgba(4,4,4,0.12368697478991597) 89%, rgba(0,212,255,0) 100%);			
			}

		.control-padding {
			padding: 0 10px;
			
		}

		.controls-panel {
			width: 100%;
			margin-top: 10px;

		}

		.control-btn {
			height: 20px;
			width: 20px;
			margin: 0 10px;
			object-fit: contain;
		}

		.controls-timer {
			margin: 0 10px;
			color: white;
			font-weight: 200;
		}

		.enlarge-btn {
			text-align: right;
		}

		#myProgress {
			width: 100%;
			background-color: #ddd;
			border-radius: 5px;
		}

		.align-btn {
			padding: 0 5px;
			display: table-cell;
			vertical-align: middle
		}

		#myProgressBar {
			width: 10%;
			height: 3.5px;
			background-color: #4caf50;
			border-radius: 5px;
		}

		#myBar {
			width: 0%;
			background-color: #686868;
			border-radius: 5px;
		}

		#myDot {
			float: right;
			width: 10px;
			height: 10px;
			margin-top: -2px;
			margin-right: -2px;
			background-color: #4caf50;
			border-radius: 100%;
		}

		@media only screen and (min-width: 600px) {

			.contain {
				width: 100%;
				margin-bottom: 10%
			}

			.videoContainer {
				background: black;
				height: 500px;
				width: 100%;
			}

			.videoAdjust {
				background: black;
				height: 500px;
				width: 100%;
			}

		}
